form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-field {
  &-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &--title {
    margin-bottom: 0.4rem;
    &:after {
      content: " *";
      color: red;
    }
  }
  &--input {
    border: 0.1rem solid #c8c8cd;
    border-radius: 0.3rem;
    padding: 0.4rem;
  }
}
